* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome, Droid Sans;
    font-size: 12;
    min-height: 0;
}

window#waybar {
    background-color: rgba(11, 11, 11, 0.8); 
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    color: #999999;
}

#workspaces button.visible {
    color: #ffffff;
    background-color: #333333;
    border-bottom: 2px solid #7700aa;
}
#workspaces button.focused {
    color: #ffffff;
    background-color: #333333;
    border-bottom: 2px solid #ff0096;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}
#clock,
#window,
#mpd,
#battery,
#temperature,
#custom-vpn,
#custom-battery,
#custom-notes,
#custom-notification,
#custom-addws,
#custom-logout,
#custom-mpd,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#language,
#idle_inhibitor {
    padding: 0 5px;
    color: #ffffff;
    margin: 0 4px;
    background-color: transparent;
    border-bottom: 1px solid #8000ff;
}

#language {
  min-width: 4em;
}

#clock {
  font-family: "OCRB";
}

#mode {
  background-color: #00ff96;
  color: #000000;
}

label:hover {
    background-color: #000000;
}

#network,
#battery,
#cpu,
#memory,
#custom-mpd,
#language,
#mpd {
  font-size: 10px;
}

#network.disconnected {
  border-bottom: 2px solid #dd2241;
}

#network.wifi {
  border-bottom: 2px solid #1a8cff;
}

#pulseaudio.bluetooth {
  border-bottom: 2px solid #1a8cff;
}

#pulseaudio.muted {
  border-bottom: 2px solid #fff569;
}

#battery.discharging {
  border-bottom: 2px solid #fff569;
}

#window {
  padding: 0 15px;
  border-bottom: 1px solid #ffffff;
}

#custom-notes {
  border-bottom: 1px solid #ffffaa;
  font-size: 13;
  font-family: FontAwesome, Iosevka;
}

#custom-mpd,
#mpd {
  color: #777fff;
  border-bottom: 1px solid #ff00ff;
}

#custom-menu {
  font-size: 14;
  padding: 0 5px;
  color: #ffffff;
  margin: 0 4px;
  background-color: transparent;
}
