* {
    border-radius: 0;
    font-family: "Terminus";
    font-size: 20px;
}


#input {

background-color: white;
color: black;

}


#inner-box {

background-color: black;

}

#scroll {

background-color: black;

}


